.Main {
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)),
        url("Images/wallpaper.jpg");
    background-size: cover;
    background-position: center;
    text-shadow: 0 0.05rem 0.1rem rgba(0, 0, 0, 0.5);
    box-shadow: inset 0 0 5rem rgba(0, 0, 0, 0.5);
}

.btn-secondary,
.btn-secondary:hover {
    color: #333;
    text-shadow: none;
}

* {
    box-sizing: content-box;
    width: 100%;
    height: 80%;
    margin: 0;
    padding: 0;
    background-color: #24252A;
}

.BDStarMetal {
    font-weight: 800;
    font-size: 20px;
    cursor: pointer;
}

li,
a {
    font-weight: 500;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;
}

.fakeHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
}

.nav-links {
    list-style: none;
}

.nav-links li {
    display: inline-block;
    padding: 0px 20px;
}

.nav-links li a {
    transition: all 0.3s ease 0s;
}

.nav-links li a:hover {
    color: #0088a9;
}



body {
    min-height: 100vh;
    margin: 0;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

header {
    min-height: 50px;
    background: lightcyan;
}

footer {
    min-height: 50px;
    background-color: #333;
}