---
import BaseLayout from "../layouts/BaseLayout.astro";
import Blogpost from "../components/Blogpost.astro";
const allposts = Object.values(
    import.meta.glob("./posts/*.md", { eager: true }),
);
const pageTitle = "Home Page";
---

<BaseLayout pageTitle={pageTitle}>
    <p>This is where I will post about my journey learning Astro.</p>
    <ul>
        {
            allposts.map((post: any) => (
                <Blogpost url={post.url} title={post.frontmatter.title} />
            ))
        }
    </ul>
</BaseLayout>
