---
import BaseLayout from "../layouts/BaseLayout.astro";
import Greeting from "../components/Greeting";
const pageTitle = "StarMetal Archive";
---

<BaseLayout pageTitle={pageTitle}>
	<h2>My awesome StarMetal subtitle</h2>
	<Greeting client:load messages={["Hej", "Hallo", "Hola", "Habari"]} />
</BaseLayout>
