<nav class="navbar">
    <ul>
        <div class="home"><li><a href="/">Home</a></li></div>
        <div class="seshs"><li><a href="/seshs/">Seshs</a></li></div>
        <div class="characters">
            <li><a href="/characters/">Characters</a></li>
        </div>
        <div class="links">
            <li><a href="/usefulLinks/">Useful Links</a></li>
        </div>
    </ul>
</nav>
